<div class="xyz ">
    <div class="split left">
        <p style="color: white;">&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; READY&nbsp; TO&nbsp; DO&nbsp; THIS</p>
        <h2 style="color: white; font-weight: 900; font-size: xxx-large">&nbsp; &nbsp; &nbsp; Let's get<br>&nbsp; &nbsp; &nbsp; to work</h2>
        <div class="get-start p-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-light btn-2 ">&nbsp;
                            CONTACT US
                            &nbsp;</button>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Link</h5><br>
                <p>Work</p>
                <p>about</p>
                <p>Lets talk</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Say Hello</h5><br>
                <ul class="list-unstyled mb-0">
                    <li>
                        <p>hr@example.com</p>
                    </li>
                    <li>
                        <p>admin@exmaple.com</p>
                    </li>
                </ul>

                <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i style="color: aliceblue;" class="fab fa-facebook-f">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i style="color: aliceblue;" class="fab fa-twitter">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i style="color: aliceblue;" class="fab fa-instagram">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i style="color: aliceblue;" class="fab fa-linkedin">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
            </div>
        </div><br>
        <p style="justify-content: center;">Copyright © 2022 Rainbow-Themes. All Rights Reserved.</p>
    </div>
</div>