<div class="d-flex flex-column container-flex header p-4 pt-2">
    <nav class="d-flex navbar header-c ">

        <!-- LOGO -->

        <div class="nav-logo">
            <a href="" class="nav-brand">
                <img src="https://trydo.rainbowit.net/assets/images/logo/logo.png" alt="">
            </a>
        </div>

        <!-- Toggle Button -->

        <button class="navbar-toggler small-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVBAR LINKS AND BUTTON-->
        <div class=" hello-nav nav navbar-nav d-flex flex-row justify-content-between">
            <div class="nav-links d-flex  pt-3">
                <ul class="d-flex " style="font-weight: 700; color: rgb(208, 224, 244);">
                    <!-- HOME -->
                    <li>
                        <a href="">Home</a>
                    </li>
                    <!-- SERVICES -->
                    <li>
                        <a href="">Services</a>
                    </li>
                    <!-- ABOUT -->
                    <li>
                        <a href="">About</a>
                    </li>
                    <!-- PAGES -->
                    <li>
                        <a href="">Pages</a>
                    </li>
                    <!-- BLOGS -->
                    <li>
                        <a href="">Blogs</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>

                </ul>
            </div>
            <div class="get-start p-2">
                <button type="button" class="btn btn-outline-light btn-2 ">
                        Buy Now
                        </button>
            </div>
        </div>
    </nav>
    <div class="header-c-2">
        <div class="heading p-5 banner ">
            <h1>
                A DIGITAL <br> AGENCY.
            </h1>
        </div>
        <div class="banner d-flex p-1">
            <div class="icon">
                <div class="sub-icon p-1 d-flex flex-column justify-content-center ">
                    <div class="cont p-2">
                        <img class="img-icon" src="https://trydo.rainbowit.net/assets/images/icons/icon-01.png" alt="">
                    </div>
                    <div class="cont " style="justify-content: center;">
                        <h3 style="color: rgb(208, 224, 244);">
                            Buisness Stratagy
                        </h3>
                        <br>
                        <p style="color: rgb(208, 224, 244);">
                            There are many variations of passages of <br>Lorem Ipsum available, but the majority <br> have suffered.
                        </p>
                    </div>
                </div>
            </div>
            <div class="icon">
                <div class="sub-icon p-1 d-flex flex-column justify-content-center ">
                    <div class="cont p-2">
                        <img class="img-icon" src="https://trydo.rainbowit.net/assets/images/icons/icon-02.png" alt="">
                    </div>
                    <div class="cont " style="justify-content: center;">
                        <h3 style="color: rgb(208, 224, 244);">
                            Website Development
                        </h3>
                        <br>
                        <p style="color: rgb(208, 224, 244);">
                            There are many variations of passages of <br>Lorem Ipsum available, but the majority <br> have suffered.
                        </p>
                    </div>
                </div>
            </div>
            <div class="icon">
                <div class="sub-icon p-1 d-flex flex-column justify-content-center ">
                    <div class="cont p-2">
                        <img class="img-icon" src="https://trydo.rainbowit.net/assets/images/icons/icon-03.png">
                    </div>
                    <div class="cont " style="justify-content: center;">
                        <h3 style="color: rgb(208, 224, 244);">
                            Marketing & Reporting
                        </h3>
                        <br>
                        <p style="color: rgb(208, 224, 244);">
                            There are many variations of passages of <br>Lorem Ipsum available, but the majority <br> have suffered.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container-fluid d-flex">
        <div class="abt p-3 ">
            <div class="abt-img ">
                <img src="https://trydo.rainbowit.net/assets/images/about/about-1.jpg" alt="">
            </div>
        </div>
        <div class="abt d-flex flex-column justify-content-center">
            <div class="abt-cont">
                <h2 style="font-weight: 800; font-size: 60px;">
                    About
                </h2>
                <p style="color: grey ;">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which dont look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                </p>
            </div>
            <br>
            <div class="abt-cont d-flex">
                <div class="abt-cont-1">
                    <h2 style="font-size: 40px;">
                        Who we are
                    </h2>
                    <br>
                    <p style="color: grey;">
                        There are many vtions of passages of <br>Lorem Ipsum available, but the majority <br> have suffered.
                    </p>
                </div>
                <div class="abt-cont-1">
                    <h2 style="font-size: 40px;">
                        Who we are
                    </h2>
                    <br>
                    <p style="color: grey;">
                        There are many vtions of passages of <br>Lorem Ipsum available, but the majority <br>have suffered.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
<br><br><br>
<div class="abt-cont" style="margin-bottom: 450px;">
    <h2 style="font-weight: 800; font-size: 60px;">&nbsp; Our Work
    </h2>
    <p style="color: grey ;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; There are many variations of passages of Lorem Ipsum available,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; but the majority have suffered alteration. </p>
</div>
<br>
<div class="photo" style="color: rgb(0, 0, 0); font-size:xx-large; font-weight: 700; justify-content: center; text-align: center;">

    Aklima The standard chunk of Lorem Ipsum used since the 1500s <br>is reproduced below for those interested. <br>Sections Bonorum et Malorum original.

    <div id="image-gallery">
        <img src="../assets/img/1.jpg" alt="Image 1">
        <img src="../assets/img/11.jpg" alt="Image 2">
        <img src="../assets/img/download.jpg" alt="Image 3">
        <img src="../assets/img/1.jpg" alt="Image 4">
        <img src="../assets/img/11.jpg" alt="Image 5">
        <img src="../assets/img/download.jpg" alt="Image 6">
        <img src="../assets/img/1.jpg" alt="Image 7">
        <img src="../assets/img/11.jpg" alt="Image 8">
        <img src="../assets/img/download.jpg" alt="Image 9">
        <img src="../assets/img/download.jpg" alt="Image 10">

        <!-- Add more images here -->
    </div>
    <p style="margin-bottom: 200px;"></p>
</div>

<app-footer></app-footer>